# Solution for Pandas Exercises

**Question 1**

Create a data frame (table of data with row and column) by using `pd.DataFrame()`.
The data should contain:

`"label": ["A", "B", "A", "B", "A", "B"]`

`"value": [1, 2, 3, 4, 5, 6]`

In [1]:
import pandas as pd
df = pd.DataFrame({"label":["A", "B", "A", "B", "A", "B"],
                  "value": [1, 2, 3, 4, 5, 6]})
df

  label  value
0     A      1
1     B      2
2     A      3
3     B      4
4     A      5
5     B      6

**Question 2**

Select data of "label" column only.

In [2]:
df["label"]

0    A
1    B
2    A
3    B
4    A
5    B
Name: label, dtype: object

**Question 3**

Change string in `label` column to lower case.

In [3]:
df["label"].str.lower()

0    a
1    b
2    a
3    b
4    a
5    b
Name: label, dtype: object

**Question 4**

Calculate the sum of values in column `value`.

In [4]:
df["value"].sum()

21

**Question 5**

Calculate the sum of values according to their labels. by using `df.groupby().sum()`

In [5]:
df.groupby("label").sum()

       value
label
A          9
B         12

**Question 6**

View the top of the frame (data) row by using `df.head()` and the bottom row of the frame by using `df.tail()`

In [6]:
df.head(1)

  label  value
0     A      1

In [7]:
df.tail(1)

  label  value
5     B      6

**Question 7**

Show a quick static summary of the data by using `df.describe()`

In [8]:
df.describe()

          value
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000

**Question 8**

Sort the data of "label" column by using `df.sort_values(by= )`

In [9]:
df.sort_values(by="label")

  label  value
0     A      1
2     A      3
4     A      5
1     B      2
3     B      4
5     B      6

**Question 9**

Download `Iris.csv` file from the slides link and put in into the same folder of this notebook, then read the file by using `pd.read_csv()`

For those using google colab, here are the way to download and mount your google drive to read this data.

`#mount google drive to get content`

`from google.colab import drive`

`drive.mount('/content/drive/')`

You can check the content of your drive by using
`!ls "/content/drive/My Drive"`

In [10]:
pd.read_csv("Iris.csv")

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
9,10,4.9,3.1,1.5,0.1,Iris-setosa
10,11,5.4,3.7,1.5,0.2,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
12,13,4.8,3.0,1.4,0.1,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa
16,17,5.4,3.9,1.3,0.4,Iris-setosa
17,18,5.1,3.5,1.4,0.3,Iris-setosa
18,19,5.7,3.8,1.7,0.3,Iris-setosa
19,20,5.1,3.8,1.5,0.3,Iris-setosa
20,21,5.4,3.4,1.7,0.2,Iris-setosa
21,22,5.1,3.7,1.5,0.4,Iris-setosa
22,23,4.6,3.6,1.0,0.2,Iris-setosa
23,24,5.1,3.3,1.7,0.5,Iris-setosa
24,25,4.8,3.4,1.9,0.2,Iris-setosa
25,26,5.0,3.0,1.6,0.2,Iris-setosa
26,27,5.0,3.4,1.6,0.4,Iris-setosa
27,28,5.2,3.5,1.5,0.2,Iris-setosa
28,29,5.2,3.4,1.4,0.2,Iris-setosa
29,30,4.7,3.2,1.6,0.2,Iris-setosa
...,...,...,...,...,...,...
120,121,6.9,3.2,5.7,2.3,Iris-virginica
121,122,5.6,2.8,4.9,2.0,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
123,124,6.3,2.7,4.9,1.8,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica
127,128,6.1,3.0,4.9,1.8,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica